.avatarlist{
    background-color:#C69774 ;
    color: #FFEFE8;
    border: 2px solid #637E76;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: 7.57rem;
    top: 2rem;
    width: 150px;
}